{% extends 'base.html' %}


{% block navbar %}

    {% include 'partials/headers.html' %}
    <!-- Top header end -->

    <!-- Nav Bar start -->
    {% include 'partials/navbar.html' %}
    <!-- Nav Bar end -->

    <!-- Banner start -->
    <div class="sub-banner overview-bgi">
        <div class="container breadcrumb-area">
            <div class="breadcrumb-areas">
                <h1>About Us</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Car Rentals</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Banner end -->
{% endblock %}

<!-- Search box 2 end -->

{% block content %}
<!-- Featured car start -->

<!-- Featured car end -->



<!-- Rent car start -->
{% include 'partials/car_rentals_code.html' %}
<!-- Rent car end -->




<!-- Our team start -->

<!-- Our team end -->
{% endblock %}
